body{
    background: #64DD17 url('http://ipic.su/img/img7/fs/dendi(1).1571830092.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 93%;
}
.plate{
    position: absolute;
    left: 50%;
    bottom: -10%;
}
.plate::before{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotateX(45deg);
}

.plate:checked{
    opacity: 0;;
}
.plate:checked{
    counter-increment: list;
}

.score:after{
    content: counter(list);
}
.plate-1{
    animation: move-plate1 10s ease 3 forwards;
}
@keyframes move-plate1{
    0%{
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(2);
    }
    50%{
     bottom: 60%;
    }
    100%{
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(0);

    }
}

.plate-2{
    animation: move-plate2 7s ease 5s 3 forwards;
}
@keyframes move-plate2{
    0%{
        left: 40%;
        bottom: 0%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(2);
    }
    50%{
     bottom: 70%;
    }
    100%{
        left: 60%;
        bottom: 50%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(0);

    }
}


.plate-3{
    animation: move-plate3 12s ease  7s 3 forwards;
}
@keyframes move-plate3{
    0%{
        left: 70%;
        bottom: 0%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(2);
    }
    50%{
     bottom: 55%;
    }
    100%{
        left: 30%;
        bottom: 50%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(0);

    }
}

.plate-4{
    animation: move-plate4 9s ease 15s 3 forwards;
}
@keyframes move-plate4{
    0%{
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(2);
    }
    50%{
     bottom: 60%;
    }
    100%{
        left: 70%;
        bottom: 50%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(0);

    }
}
.plate-5{
    animation: move-plate5 8s ease 25s 3 forwards;
}
@keyframes move-plate5{
    0%{
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(2);
    }
    50%{
     bottom: 70%;
    }
    100%{
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%) rotateX(45deg) scale(0);

    }
}